.textarea-wrapper {
    display: grid;
    width: 75%;

    @media only screen and (max-width: 719px) {
        width: 100%;
    }

    &.type-edit {
        width: 100%;
    }
    min-height: 100px;
    
    &.grow::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
    }
    
    .textarea, &.grow::after {
        grid-area: 1/1/2/2;
        width: 100%;
        height: 100%;
        padding: .75rem 1rem;
        border-radius: .4rem;
        border: 1px solid var(--light-gray);
        resize: none;
        word-break: break-word;
    
        font-size: var(--paragraph);
        line-height: 1.5rem;
        cursor: pointer;
    
        &:focus {
            border: 1px solid var(--grayish-blue);
            outline: solid 1px var(--grayish-blue);
        }
    }
}
