.input-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 480px;
    max-width: 768px;
    min-height: 112px;
    height: auto;
    padding: 1rem;
    background-color: var(--white);
    border-radius: .5rem;

    img {
        width: 50px;
        padding: .25rem .75rem 0 .25rem;
        margin-bottom: auto;
    }

    .textarea-wrapper {
        display: grid;
        width: 75%;
        min-height: 100px;
        
        &.grow::after {
            content: attr(data-replicated-value) " ";
            white-space: pre-wrap;
            visibility: hidden;
        }
    }

    .textarea, .textarea-wrapper.grow::after {
        grid-area: 1/1/2/2;
        width: 100%;
        height: 100%;
        padding: .75rem 1rem;
        border-radius: .4rem;
        border: 1px solid var(--light-gray);
        resize: none;

        color: var(--grayish-blue);
        font-size: var(--paragraph);
        line-height: 1.5rem;
        cursor: pointer;

        &:focus {
            border: 1px solid var(--grayish-blue);
            outline: solid 1px var(--grayish-blue);
        }
    }

    button {
        width: 16.67%;
        padding: .75rem .5rem;
        margin: 0 .25rem auto .75rem;
        border-radius: .4rem;
        background-color: var(--moderate-blue);
        outline: solid 1px var(--moderate-blue);
        border: 1px solid var(--moderate-blue);
        color: var(--white);
        cursor: pointer;

        &:active{
            background-color: var(--light-grayish-blue);
            outline: solid 1px var(--light-grayish-blue);
            border: 1px solid var(--light-grayish-blue);
        }
    }
}