.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    min-width: 8.33%;

    @media only screen and (max-width: 719px) {
        flex-direction: row;
    }

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.25rem;
        height: 2rem;
        padding: .5rem;
        background-color: var(--very-light-gray);
    }

    button {
        border: transparent;
        outline: transparent;
        cursor: pointer;
    }

    .plus-button {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;

        &:active { 
            svg {
                path {
                    fill: var(--dark-blue);
                }
            }
        }
    }

    .score-span {
        color: var(--dark-blue);
        font-weight: 500;
    }

    .minus-button {
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;

        &:active { 
            svg {
                path {
                    fill: var(--dark-blue);
                }
            }
        }
    }
}