:root {
  // primary
  --moderate-blue: hsl(238, 40%, 52%);
  --moderate-blue-bright: hsl(238, 50%, 70%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  // neutral
  --dark-blue: hsl(212, 24%, 26%);
  --dark-blue-transparent: hsla(212, 24%, 26%, 0.65);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --light-gray-hover : hsl(223, 19%, 80%);
  --light-gray-active : hsl(223, 19%, 70%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);

  --paragraph: 16px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Rubik';
  box-sizing: border-box;
  
  &::after {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }

}

@font-face {
  font-family: 'Rubik';
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
  font-weight: 700;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
